@import url('https://fonts.googleapis.com/css?family=Modak|Crimson+Text|Oxygen');
.modal-wrapper{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &::after{
        content: '';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background:rgba(0,0,0,0.5);
        opacity: 1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        z-index: -1;
    }
    .modal-header{
        width: 50vw;
        height: 10vh;
        display: flex;
        background: #d4bebe;
        justify-content: space-between;
        align-items: center;
        .closeModal{
            font-size: 1.4em;
            position: relative;
            top: 3%;
            right: 4%;
            transition: color .5s ease-in-out;
            &:hover{
                z-index: 2;
                cursor: pointer;
                color:#4cb7f9;
            }
        }
        .basket{
            color: #000;
            padding-left: 10px;
            font-family: 'Oxygen',sans-serif;
            font-weight: bold;
        }

        @media( max-width: 768px){
            width: 80vw;
            height: 10vh;
        }
    }
    .basket-modal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
        width: 50vw;
        background: rgb(243, 235, 235);
        @media(max-width: 768px){
            width: 80vw;
        }
        .main-modal{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            flex-direction: column;
            .item-modal{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 20px 0;
                width: 100%;
                .item-name{
                    font-size: 1.5em;
                    font-family: 'Crimson Text',sans-serif;
                    font-weight: bold;
                    @media(max-width: 768px){
                        font-size: 1.3em;
                    }
                }
                .item-price{
                    font-size: 1.5em;
                    font-family: 'Crimson Text',sans-serif;
                    font-weight: bold;
                    @media(max-width: 768px){
                        font-size: 1.3em;
                    }
                }
                .delete{
                    font-size: 1.5em;
                    transition: color .5s ease-in-out;
                    @media(max-width: 768px){
                        font-size: 1.3em;
                    }
                    &:hover{
                        z-index: 2;
                        cursor: pointer;
                        color:#4cb7f9;
                    }
                }
                .addNumItem{
                    display: flex;
                    .item-count{
                        font-size: 1.5em;
                        padding: 0 10px;
                        @media(max-width: 768px){
                            font-size: 1.3em;
                        }
                    }
                    .minus{
                        font-size: 1.5em;
                        transition: color .5s ease-in-out;
                        @media(max-width: 768px){
                            font-size: 1.3em;
                        }
                        &:hover{
                            z-index: 2;
                            cursor: pointer;
                            color:#4cb7f9;
                        }
                    }
                    .plus{
                        font-size: 1.5em;
                        transition: color .5s ease-in-out;
                        @media(max-width: 768px){
                            font-size: 1.3em;
                        }
                        &:hover{
                            z-index: 2;
                            cursor: pointer;
                            color:#4cb7f9;
                        }
                    }
                }
            }
        }

        .btn-modal-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .btn-modal{
                color: #fff;
                background: #222;
                width: 100%;
                height: 4.5vh;
            }
        }
    }

}