.footer-wrapper{
    width: 100vw;
    height: auto;
    background: #4cb7f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f4f4f4;
    text-align: center;
    flex-wrap: wrap;
    @media(max-width: 768px){
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-item{
        font-size: 1.3em;
        @media(max-width: 768px){
            margin-bottom: 20px;
        }
    }
    .logo{
        font-size: 2.7em;
        font-family: 'Modak',sans-serif;
        color: #191919;
        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }   
}
.street{
    margin-bottom: 20px;
}