@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Inconsolata&display=swap');
.menu-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #67ddee;
    color: #fcfeff !important;
}
.menu-item-wrapper .price-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fcfeff !important;
}

.menu-item-wrapper .price-info .main-price{
    font-family: 'DM Serif Text',sans-serif;
}
.menu-item-wrapper .price-info .under-price{
    font-family: 'Inconsolata',sans-serif;
}
.menu-item-wrapper .price-info a{
    color: #fcfeff !important;
    text-decoration: none;
}
.menu-item-wrapper .price-info a i{
    font-size: 2em;
}
@media(max-width: 768px){
    .menu-item-wrapper .price-info .main-price{
        font-size: 2.5em !important;
    }
    .menu-item-wrapper .price-info .under-price{
        font-size: 1.5em !important;
        text-align: center;
    }
}
@media(max-width: 1024px){
    .menu-item-wrapper .price-info .main-price{
        font-size: 2.5em !important;
    }
    .menu-item-wrapper .price-info .under-price{
        font-size: 1.5em !important;
        text-align: center;
    }
}