@import url('https://fonts.googleapis.com/css?family=Modak|Crimson+Text|Oxygen');
html{
    scroll-behavior: smooth;
}
.nav-wrapper{
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    .logo{
        font-size: 1.8em;
        font-family: 'Modak',sans-serif;
        text-align: center;
        color: #191919;
        padding: 20px 0;
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            font-size: 1.5em;
            background: #4cb7f9 !important;
        }
    }
    .nav-links{
        display: flex;
        justify-content: space-between;
        .nav-link{
            display: flex;
            align-items: center;
            font-family: 'Oxygen',sans-serif;
            font-size: 2em;
            font-weight: bold;
            transition: transform .5s ease-in-out;
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
            @media (max-width: 768px) {
                display: none;
                font-size: 1.3em;
            }
        }
    }
    .basket{
        color: rgb(243, 235, 235);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .modalLength{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #258fc0;
            position: fixed;
            top: 5%;
            right: 5%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #fff;
            @media (max-width: 1024px) {
                top: 2%;
                right: 2%;
            }
            @media (max-width: 768px){
                top: 6%;
                right: 5%;
                width: 15px;
                height: 15px;
            }
        }
        .basket-icon{
            display: flex;
            position: fixed;
            z-index: 3;
            font-size: 1.5em;
            transition: transform .5s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.2)
            }
        }
    }
}
.backToTop{
    position: fixed;
    bottom: 10%;
    right: 2%;
    font-size: 4em;
    color: #4cb7f9;
    &:hover{
        cursor: pointer;
        color: #3ba6e8;
    }
    @media (max-width: 768px) {
        font-size: 2em;
        bottom: 5%;
        right: 5%;
    }
}